*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
body{
    background: rgb(248,169,119);
    background: linear-gradient(90deg, rgba(248,169,119,0.7198529069831057) 0%, rgba(53,174,106,0.6750349798122374) 35%, rgba(210,255,0,0.7618697137057948) 100%);
}
.logo img{
    height:150px;
    margin: 10px 0;
}
/* .logo,
h2,h5{
        justify-content: space-around;
        display: flex;
}*/

header, .container{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

header h5{
    margin: 0 0 10px;
}

header ,ul{
    padding: 0 30px;
}

header img{
        transition: 300ms;
    }
    header img:hover{
        transform: scale(1.1);
    }

/* ======================SECTION============================ */

    .links {
        background: rgba(0,0,0,0.5);
        width: 470px;
        height: 430px;
        padding: 0 1px;
        border-radius:30px 3px 30px;
        /* margin: 3px 400px; */
    }

    section img{
        height: 40px;
    }

        .links li {
        height: 40px;
        margin: 10px 25px;
        display: flex;
        border-radius: 59px;
        background-color: rgb(255, 255, 255);
        transition: 400ms;
    }
    .links   li:hover{
        background-color: rgb(0, 0, 0);
        transform: scale(1.03);
    }


    .links li a{
        padding: 0 10px;
    }
    
    .links a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(149, 153, 28);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .logs h3{
        margin: 0 0 0 65px;
    }

    .logs ol{
        background-color: rgb(255, 255, 255);
        align-items: center;
        border-radius: 20px;
        display: flex;
        width: 300px;
        margin: 0 60px; /*siga-nos*/
    }
    .logs ol:hover{
        background-color: rgb(226, 150, 43);
    }

    .logs  img{
        height: 37px;
        padding: 0px;
        border-radius: 20px;
    }


    footer p{
        justify-content: center;
        display: flex;
    }
    hr{
        margin: 10px 0;
    }
/* =========TELA PEQUENA======== */
@media screen and (max-width: 1020px){
    .links {
        background: rgba(0,0,0,0.5);
        width: 319px;
        height: 410px;
        padding: 3px;
        border-radius:40px 30px 30px;
        /* margin: 20px 40px; */
    }

    .links li a{
        padding: 10px;
    }

    section img{
        height: 41px;
    }

    .links li {
        height: 40px;
        display: flex;
        border-radius: 59px;
        background-color: rgb(255, 255, 255);
        transition: 400ms;
    }

    .links ul{
        padding: 0 1px;
    }

    .logs ol{
        background-color: rgb(255, 255, 255);
        align-items: center;
        border-radius: 20px;
        display: flex;
        width: 200px;
        margin: 0 54px; /*siga-nos*/
    }

    .logs h3{
        margin: 0 4px 0 19px;
        font-size: 15px;
    }
    body{
        background: rgb(238,174,202);
        background: radial-gradient(circle,
         rgb(54, 255, 141) 0%,
         rgb(64, 63, 63) 100%);
    }

}

